<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Exami</title>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="/css/dashboard.css">
<!-- Boxicons CDN Link -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="sidebar">
		<div class="logo-details">
			<i class='bx bxs-cube-alt'></i> <a th:href="@{/}"> <span
				class="logo_name">Exami</span></a>
		</div>
		<ul class="nav-links">
			<li><a th:href="@{/admin_Home}" class="active"> <i
					class='bx bx-grid-alt'></i> <span class="links_name">Dashboard</span>
			</a></li>
			<li><a th:href="@{/admin_ManageUser}"> <i
					class='bx bxs-user-detail'></i> <span class="links_name">Manage
						User</span>
			</a></li>
			<li><a th:href="@{/admin_Manage_Schedule}"> <i
					class='bx bxs-time-five'></i> <span class="links_name">Manage
						Schedule</span>
			</a></li>
			<li><a th:href="@{/admin_EnrollStudent}"> <i
					class='bx bxs-user-plus'></i> <span class="links_name">Enroll
						Student</span>
			</a></li>
			<li class="log_out"><a
				href="javascript: document.logoutForm.submit()"> <i
					class='bx bx-log-out'></i> <span class="links_name">Log out</span>
			</a></li>
		</ul>
		<form th:action="@{/logout}" th:hidden="true" method="post"
			name="logoutForm">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<section class="home-section">
		<nav>
			<div class="sidebar-button">
				<i class='bx bx-menu sidebarBtn'></i> <span class="dashboard">Enroll
					Student</span>
			</div>
			<p id="profileRole">
				[[${#request.userPrincipal.principal.username}]] | Role : <b><span
					sec:authentication="principal.authorities">Roles</span></b>
			</p>
		</nav>

		<div class="home-content">
			<div class="table-data-boxes">
				<table class="table table-hover table-sm">
					<thead class="thead-dark text-center">
						<tr>
							<th class="col-2">Exam ID</th>
							<th class="col-2">Subject</th>
							<th class="col-2">Duration (Hours)</th>
							<th class="col-2">Date</th>
							<th class="col-2">Score</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="exam: ${listExam}">
							<td class="text-center" th:text="${exam.id}" colspan="1">Exam
								ID</td>
							<td class="text-center" th:text="${exam.subject}">Subject</td>
							<td class="text-center" th:text="${exam.duration}">Duration</td>
							<td class="text-center" th:text="${exam.date}">Duration</td>
							<td class="text-center" th:text="${exam.score}">Score</td>
							<td class="col-1"><a
								th:href="@{/getOneExamSchedule/(id=${exam.id})}" type="button"
								class="btn btn-primary px-3" id="enrollStudentButton">Enroll</a>

								<!-- Enroll Student Modal -->
								<div class="modal fade" id="enrollStudentModal"
									data-backdrop="static" data-keyboard="false" tabindex="-1"
									aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<form id="enrollStudentForm" th:action="@{/process_AdminEnrollStudent}" method="GET">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="staticBackdropLabel">Enroll
														Student</h5>
													<button type="button" class="btn-close"
														data-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<div>
														<div class="mb-2">
															<label for="id" class="col-form-label">Exam ID</label> <input
																type="text" class="form-control" id="examId" name="examId"
																readonly required>
														</div>
														<div class="mb-2">
															<label for="student" class="col-form-label">Student</label>
															<select class="form-control" id="userId" name="userId"
																required>
																<option value=""></option>
																<option th:each="student:${listStudent}"
																	th:text="${student.username}" th:value="${student.id}">
																</option>
															</select>
														</div>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">No</button>
													<button type="submit" class="btn btn-primary">Yes,Enroll</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</section>

	<script>
		let sidebar = document.querySelector(".sidebar");
		let sidebarBtn = document.querySelector(".sidebarBtn");
		sidebarBtn.onclick = function() {
			sidebar.classList.toggle("active");
			if (sidebar.classList.contains("active")) {
				sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
			} else
				sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
		}
	</script>

</body>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
	type="text/javascript"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
	integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
	crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</html>
